body {
  font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;
}

#email-share-icon {
  svg {
    font-weight: bolder;
  }
}

#testimonial-divider {
  border-color: #E0E0E0!important;
  margin: 0 auto;
}

#testimonial-text {
  color: #212121;
}

.hidden {
  display: none;
}

.block-display {
  display: inline-block!important;
}
