body {
  font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;
}

#email-share-icon {
  svg {
    font-weight: bolder;
  }
}

#testimonial-divider {
  border-color: #E0E0E0!important;
  margin: 0 auto;
}

#testimonial-text {
  color: #212121;
}

.scroll-button {
  padding: 0;
}

.scroll-button.mobile {
  padding: 0;
}

.testimonial-mobile {
  font-size: 0.65rem!important;
}

.testimonial-long {
  font-size: 0.55rem!important;
  line-height: 0.9rem;
}

.testimonial-desktop-long {
  font-size: 1.25rem;
}

.v-subheader.mobile {
  font-size: 0.65rem;
  height: 55px;
}

.error-page {
  background-color: #009DB5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.error-box {
  background-color: white;
  border-radius: 10px;
}
